::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(88, 88, 88, 0.5);
}

.loading-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 19;
  background: rgba(255, 255, 255, 1);
}

.spin {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}