::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(88, 88, 88, 0.5);
}
