.steps-content {
  margin-top: 16px;
  background-color: #ffffff;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
  background-color: #ffffff;
}

.flpLayout {
  width: 70%;
  height: 60vh;
  margin: auto;
  margin-top: 20vh;
  background-color: #ffffff;
}

.close-icon {
  position: fixed;
  top: 10px;
  right: 0px;
  width: 50px;
  height: 50px;
  font-size: 25px; 
  color: rgba(0, 0, 0, 0.85);
}

.close-icon:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.85);
}

.create-profile {
  height: 100vh;
  width: 100vw;
}

body, html {
  overflow: hidden !important; /*I have to do this for some reason*/
}

