.steps-content {
  margin-top: 30px;
  background-color: #ffffff;
  text-align: center;
}

.steps-action {
  margin-top: 24px;
  background-color: #ffffff;
}

body, html {
  overflow: hidden !important; /*I have to do this for some reason*/
}

